$font-serif: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
$font-sansserif: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font-standard: 1rem;
$font-li: 1.414rem;
$font-header: 2.827rem;
$font-span: 3.998rem;
$color-white: #fff;
$color-lightgrey: #d4d4d4;
$color-darkgrey: #222;
$color-lightblue: #c7f7ff;
$color-mediumblue: #89c0c9;
$color-darkblue: #3a5e63;
$color-lightbrown: #c9a689;
$color-darkbrown: #7c593c;
$border-lightgrey: 1px solid $color-lightgrey;